.form-control {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }